PORT=3000

DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=ecommerce

# Set to "true" to let Sequelize auto-create tables from the models on boot.
# DO NOT ENABLE in production.
DB_SYNC=false
DB_LOGGING=false
